/*selecciona todas las section con id*/
section[id]{
    scroll-margin-top: 100px;
}

html{
    scroll-behavior:smooth;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    section[id]{
        scroll-margin-top: none;
    }
    
    html{
        scroll-behavior:none;
    }
}